
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #d7fe3a;
  overflow: hidden;
  display: flex;
}

.section {
  position: relative;
  width: 50%;
  height: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section h2 {
  color: #fff;
  font-size: 16vw;
  font-weight: 800;
  line-height: 1em;
}
.vivek{
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  color: black;
  top: 5px;
  right: 1px;
  background:#fff;
  border-radius: 5px;

  box-shadow: 6px 6px 28px 0px rgba(80, 223, 214, 1);
  webkit-box-shadow: 6px 6px 28px 0px rgba(80, 223, 214, 1);
  -moz-box-shadow:    6px 6px 28px 0px rgba(80, 223, 214, 1);

}

.date {
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  top: 150px;
  letter-spacing: 3px;
  display: block;
  color: black;
  background:#fff;
  border-radius: 5px;

  box-shadow: 6px 6px 28px 0px rgba(80, 223, 214, 1);
  webkit-box-shadow: 6px 6px 28px 0px rgba(80, 223, 214, 1);
  -moz-box-shadow:    6px 6px 28px 0px rgba(80, 223, 214, 1);

}

.sec2 {
  background: #1E90FF;
}

.sec2 h2 {
  color: #000;
  font-size: 40vw;
}

#ampm {
  position: absolute;
  top: 22px;
  right: 40px;
  color: #fff;
  font-size: 6vw;
  font-weight: 700;
  background: black;
  border-radius: 5px;
  -webkit-box-shadow: 6px 6px 28px 0px rgba(255, 255, 5, 1);
  -moz-box-shadow:    6px 6px 28px 0px rgba(255, 255, 5, 1);
  box-shadow:         6px 6px 28px 0px rgba(255, 255, 5, 1);
}

#dot {
  position: relative;
  animation: animate 1s linear infinite;
}

@keyframes animate {
  0%, 15% {
    opacity: 0;
  }

  15.1%, 100% {
    opacity: 1;
  }
}

@media (max-width: 768px) and (min-width: 400px) {
  section {
    flex-direction: column;
  }

  .section {
    width: 100%;
    height: 50%;
  }

  .section h2 {
    font-size: 30vw;
  }

  .sec2 h2 {
    font-size: 60vw;
  }

  #ampm {
    top: 25px;
    right: 20px;
  }

  .date {
    top: 28px;
  }
}
@media (max-width:400px) {
  .date{
    top: 200px;
  }
  #ampm{
    top: 200px;
  }

}
